# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.1
      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version-file: "pyproject.toml"

      - name: Set up Ruff
        uses: astral-sh/ruff-action@v3
        with:
          version-file: "requirements_test.txt"
      - name: Lint with Ruff
        run: ruff check --output-format=github
      - name: Format with Ruff
        run: ruff format --check --respect-gitignore

      - name: Install dependencies
        run: |
          pip install -r requirements_test.txt
          pip install -e .
      - name: Test with pytest
        run: |
          pytest
      - name: Check types with mypy
        run: |
          mypy voluptuous_serialize tests
